<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">VỊ TRÍ</h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">THÊM VỊ TRÍ</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Vị trí</label>
                    <input id="position-name" type="text" [(ngModel)]="position_name" name="fullname" class="form-control" placeholder="Nhập tên vị trí">
                  </div>
                  <button type="button" (click)="addPosition()" class="btn btn-sm btn-primary">Thêm</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">DANH SÁCH VỊ TRÍ</div>
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <td>#</td>
                      <td>Tên vị trí</td>
                      <td>Tác vụ</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pos of list_position">
                      <td>{{pos.position_id}}</td>
                      <td>{{pos.position_name}}</td>
                      <td>
                        <button (click)="delPosition(pos.position_id)" class="btn btn-xs btn-danger">Xóa</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
</div>